@font-face {
    font-family: "Open-sans";
    src: url("../fonts/open-sans/open-sans-latin-400-normal.woff2");
    font-display: swap;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/montserrat-latin-400-normal.woff2");
    font-display: swap;
}