/**
 * Enable smooth scroll
 */

html {
    @apply scroll-smooth;
}

/**
 * Prevent jumpy pages
 */

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

html, body {
    background-color: var(--color-white);
}