main {
    #services {
        .icon {
            font-family: "iconfont";
            font-style: normal;
            display: inline-block;
            font-size: 180px;
            color: var(--color-black);
        }

        .icon-pc-display::before {
            content: "\f153";
        }

        .icon-headset::before {
            content: "\f143";
        }

        .icon-code::before {
            content: "\f116";
        }

        .computer-services,
        .coding-services,
        .consulting-services {
            display: flex;
            flex-flow: column nowrap;

            a {
                text-decoration: none;
                @apply text-gray-900;
                
                .container-services {
                    min-height: 31.25rem;

                    &:hover {
                        text-decoration: none;

                        span,
                        h3,
                        p {
                            text-decoration: none;
                        }
                    }
                }
                &:hover {
                    background-color: var(--color-white);
                }
            }

            span, h3, p {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    #about {
        .container-about {
            @apply container max-w-screen-xl mx-auto p-4;

            .grid-2 {
                @apply grid grid-cols-1 md:grid-cols-2 gap-4;

                .grid-left {
                    .about-image-container {
                        display: flex;
                        flex-direction: column;
                        height: 400px;
                        align-self: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-attachment: fixed;
                        align-items: center;
                        justify-content: center;
                        margin: 0;
                        padding: 0;
                        border-radius: 10px;
                    }

                    .about-image {
                        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/images/office.jpg");
                    }
                }

                .grid-right {
                    
                }
            }
        }
    }

    #pricing {
        .container-pricing {
            @apply container max-w-screen-xl mx-auto p-4;

            .grid-2 {
                @apply grid grid-cols-1 md:grid-cols-2 gap-4;

                .grid-left {

                }

                .grid-right {
                    picture {
                        max-width: 600px;

                        img {
                            @apply transition-transform duration-300 hover:scale-105;
                            max-width: 100%;
                            height: auto;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
}

