footer {
    background-color: var(--color-base-100);
    color: var(--color-gray-50);
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);

    ul {
        li {
            .icon {
                font-family: "iconfont";
                font-style: normal;
                display: inline-block;
                font-size: 32px;
            }

            .icon-position {
                position: relative;
                top: 8px;
            }

            .icon-padding-right {
                padding-right: var(--grid-gutter-width);
            }

            .icon-padding-left {
                padding-left: var(--grid-gutter-width);
            }

            .icon-bluesky::before {
                content: "\f10b";
            }
            
            .icon-discord::before {
                content: "\f127";
            }

            .icon-facebook::before {
                content: "\f12e";
            }

            .icon-github::before {
                content: "\f142";
            }

            .icon-linkedin::before {
                content: "\f149";
            }

            .icon-mastodon::before {
                content: "\f14f";
            }

            .icon-reddit::before {
                content: "\f15d";
            }

            .icon-slack::before {
                content: "\f163";
            }

            .icon-map-pin::before {
                content: "\f14e";
            }

            .icon-phone::before {
                content: "\f155";
            }

            .icon-email::before {
                content: "\f10a";
            }

            .icon-external-link::after {
                content: "\f12d";
            }
        }
    }

    .copyright {
        background-color: #000;

        p {
            color: #fff;
            margin-bottom: 0;
        }
    }
}
