#back-to-top-button {
  display: none; 
  position: fixed; 
  bottom: var(--grid-gutter-width);
  right: var(--grid-gutter-width); 
  z-index: 99; 
  border: none; 
  outline: none;
  cursor: pointer; 
  background-color: var(--color-red-600); 
  color: white; 
  padding: 1rem; 
  border-radius: 10px; 
  font-size: 1rem; 

  &:hover {
    @apply bg-gray-600;
  }
}